body
{
	text-align: center;
}
span
{
	font-size: 20px;
	color: rgb(135, 35, 35);
}
canvas
{
	background: rgb(162, 77, 91);
	border-radius: 25px;
	box-shadow: 10px 10px 5px rgb(167, 28, 51);
	box-shadow: -10px -10px 5px rgb(167, 28, 51);
}